<div>
  <%= flash[:notice] %>
</div>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <%= image_tag @book.user.get_profile_image(100,100) %>
      <table class="table">
        <tr>
          <th>name</th>
          <th><%= @book.user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= @book.user.introduction %></th>
        </tr>
      </table>
      <div class="row">
      <%= link_to edit_user_path(@books.id), class:"btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
      <% end %>
      </div>
      <%= render 'list', book: Book.new %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td><%= link_to user_path(current_user.id) do %>
                <%= image_tag @book.user.get_profile_image(100,100) %>
                <% end %><br>
                <%= link_to user_path(@book.user.id) do %>
                <%= @book.user.name %>
                <% end %>

            </td>
            <td><%= link_to book_path(@book.id) do %>
                <%= @book.title %>
                <% end %>
            </td>
            <td><%= @book.body %></td>
            <td>
              <% if @book.user == current_user %>
              <%= link_to "Edit", edit_book_path(@book), class: "btn btn-success btn-sm" %>
              <% end %>
            </td>
            <td>
              <% if @book.user == current_user %>
              <%= link_to "Destroy", book_path(@book), method: :delete, class: "btn btn-danger btn-sm" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
